@import "tailwindcss";

@theme {
  --font-open-sans: "Open Sans", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  
  --color-brownred: #772d16;
  --color-brown: #4f3d2f;
  --color-primary: #eea224;
  --color-primary-hover: #4d3d2a;
  --color-dark: #222222;
}

.navbar-bg {
  background-image: url('/img/m-bg.jpg');
  background-repeat: repeat;
  border-bottom: 4px solid var(--color-primary);
}

.logo {
  height: auto !important;
  display: flex;
  align-items: center;
}

.header-content {
  min-height: 60px;
}

.common-bg {
  background-image: url('/img/m-bg.jpg');
  background-repeat: repeat;
}

:root {
  --background: #ffffff;
  --foreground: #925945;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-open-sans);
  font-size: 14px;
  line-height: 1.5em;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  /* color: #222222; */
  font-weight: 700;
}

.primary-btn {
  line-height: 40px;
  padding: 0 40px;
  border-radius: 20px;
  background: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: #ffffff;
  display: inline-block;
  font-weight: 600;
  transition: all 0.3s ease;
  cursor: pointer;
}

.primary-btn:hover {
  background: var(--color-primary-hover);
  color: #fff;
  box-shadow: 0px 10px 20px 0px rgba(60, 64, 143, 0.2);
}

.section-full {
  padding: 150px 0;
}

.overlay-bg {
  background: rgba(12, 12, 12, 0.6);
}
